[Desktop Entry]
Type=Application
Name=avvcator
Comment=AV1/OPUS Video Encoder
Icon=net.natesales.avvcator
Exec=avvcator
TryExec=avvcator
Terminal=false
StartupNotify=true
StartupWMClass=net.natesales.avvcator
X-SingleMainWindow=true
Categories=GNOME;GTK;System;
